@model Context.Models.UserBook

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt>
            Author
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.AuthorFirstName) @Html.DisplayFor(model => model.Book.AuthorLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.AuthorInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.AuthorInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.BookInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.BookInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.HistoricalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.HistoricalInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.CountryInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.CountryInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
