@model Context.Models.UserBook

@{
    ViewData["Title"] = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Book.Title)
</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Book.AuthorFirstName) @Html.DisplayFor(model => model.Book.AuthorLastName)</h4>
    <hr />
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#authorInfo">Author</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Book.AuthorInfo)
        </dt>
        <dd id="authorInfo">
            @Html.DisplayFor(model => model.Book.AuthorInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.BookInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.BookInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.HistoricalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.HistoricalInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.CountryInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.CountryInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
