@model IEnumerable<Context.Models.UserBook>

@{
    ViewData["Title"] = "Index";
}

<h2>
    The Book Shelf
</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                Author Name           
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.AuthorFirstName) @Html.DisplayFor(modelItem => item.Book.AuthorLastName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
