@model Context.Models.BooksWithUserViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Recently Added Books</h2>

@if (Model.User != null) { 
<p>
    <a asp-action="Create">Create New</a>
</p>

 }
<table class="table">
    <thead>
        <tr>
            <th>
                Book Titles           
            </th>
            <th>
               Author Name
            </th>       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.BookId"> @Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFirstName)  @Html.DisplayFor(modelItem => item.AuthorLastName)
            </td> 
            <td>
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a> |
                <a asp-action="SaveUserBook" asp-route-id="@item.BookId">Save Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
